<a href="/" style="text-decoration: none">
<style>
    #banner{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50px;
        color: wheat;
}
</style>
<h1 id="banner">
    {{websiteHeading}}
    </h1>
    </a>