<footer>
    <style>
        #footerStyle{
            position: fixed;
            bottom: 0px;
            background-color: antiquewhite;
            text-align: center;
            width: 100%;
        }
    </style>
    <p id="footerStyle">Created by Amol - Copyright {{getCurrentYear}}</p>
</footer>