<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
            {{> banner}}
            {{> header}}
            <p id="welcomeMsg">{{screamIt welcomeMessage}}
                <br/> We track current trends in the world of gaming
            </p>
            <h3 id="subTopic">
                Top trending PC Games
            </h3>

        {{#each image}}
            <div class="gallery">
                <a target="_blank" href="{{this.url}}" style="text-decoration: none;">
                    <img src="assets/{{this.fileName}}.jpg" width="400" height="800">
                    <label id="assetTag">{{this.tag}}</label>
                </a>
            </div>
        {{/each}}

        

    <div style="height: 100vh;"></div>
        {{> footer}}
    </body>
</html>