<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects Page</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{> banner}}
        {{> header}}
        <h1>{{message}}</h1>
        {{> footer}}
    </body>
</html>